.azul { background: rgb(115, 115, 250); }
.naranja { background: rgb(243, 127, 44); }
.verde { background: rgb(58, 156, 58); }
.azul, .naranja, .verde {
    color: white;
    border: solid 1px black;
    height: 40px;
    font-size: 2rem;
    text-align: center;
}