body {
    margin: 0;
    padding: 0;
    background: rgb(223, 212, 223);
    font-family: 'Spartan', sans-serif;
}
h1 {
    text-align: center;
}
p {
    font-size: 1.2em;
    margin-top: 8px;
}
.morado {
    font-weight: bold;
    color: purple;
    margin-top: 0.6em;
}
img {
    width: 100%;
    height: 100%;
}
.item1, .item2, .item3, .item4 {
    text-align: center;
    margin-bottom: 1.8em;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 70px;
}
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 599px) {
    .item1 {
        height: 300px;
    }
    .item2 {
        height: 500px;
    }
    .item3 {
        height: 400px;
    }
    .item4 {
        height: 600px;
    }
}
@media (min-width: 600px) and (max-width: 800px) {
    .contenedor {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .item1, .item2, .item3, .item4 {
        border: solid 3px purple;
        padding: 10px;
        width: 49%;
    }
}
@media (min-width: 801px) {
    .contenedor {
        flex-direction: row;
        justify-content: space-around;
    }
    .item1, .item2, .item3, .item4 {
        border: solid 3px purple;
        padding: 10px;
        width: 24.5%;   }
}
